.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: #ADD8E6;
  color: blue;
  font-family: cursive;
  font-size: medium;
  }

.Post {
  text-align: left;
  padding: 20px;
  border: 2px solid blue;
  border-spacing: 15px 50px;
  margin-top: 19px;
  margin-left: 29px;
  margin-right: 34px;
  background: beige;
}
